<p>You can obtain the repo over HTTPS (read only) or SSH (requires your SSH key to be set up):</p>

<ul>
<li><strong>HTTPS</strong> - <tt>{{gitHttpUrl}}/{{repo}}</tt>
<li><strong>SSH</strong> - <tt>ssh://git@{{gitDomain}}/git/repo/{{repo}}</tt>
</ul>

<p>To get started:

<pre>
git clone ssh://git@{{gitDomain}}/git/repo/{{repo}}
cd {{repo}}
cat << EOF > README.md
README
EOF
git add README.md
git commit -m "first commit"
git push -u origin master
</pre>
