<p>To get started:

<pre>
git clone ssh://git@{{gitDomain}}/git/repo/{{repo}}
cd {{repo}}
cat << EOF > README.md
README
EOF
git add README.md
git commit -m "first commit"
git push -u origin master
</pre>
