{{>top}}
      <div class="p-3 flex-grow-1">
        <h1>Git Manage</h1>

        <h2>New Repo</h2>

        <form action="{{scriptName}}/create" method="POST">
          <div class="form-group">
            <label for="name">New repo name:</label>
            <input class="form-control" type="text" placeholder="e.g. demo.git" name="name">
          </div>
          <button class="btn btn-primary" type="submit">Create</button>
        </form>

        <h2>Existing Repos</h2>
        <ul>
          {{#repos}}
          <li><a href="{{url}}">{{name}}<a></li>
          {{/repos}}
        </ul>

      </div>
{{>bottom}}
